@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gestion de la Configuracion</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Proyecto Final University</h2>
        <p>
            App web para probar la Integracion Continua de Entity Framework 6 in an
            ASP.NET MVC 5 web application.
        </p>
    </div>   
</div>